
Theme Name: MyStyle
Author: An Luu
Author URI: luubinhan1989@gmail.com
Description: 
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* WordPress Required Styles */
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.wp-caption {
  border: 1px solid #ddd;
  text-align: center;
  background-color: #f3f3f3;
  padding-top: 4px;
  margin: 10px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.wp-caption img {
  margin: 0;
  padding: 0;
  border: 0 none;
}
.wp-caption-dd {
  font-size: 11px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0;
}
.sticky {
  background: #f7f7f7;
  padding: 0 10px 10px;
}
.sticky h2 {
  padding-top: 10px;
}
@font-face {
  font-family: 'trivia_serif_regularregular';
  src: url('fonts/TriviaSerifRegular-webfont.eot');
  src: url('fonts/TriviaSerifRegular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/TriviaSerifRegular-webfont.woff2') format('woff2'), url('fonts/TriviaSerifRegular-webfont.svg#trivia_serif_regularregular') format('svg'), url('fonts/TriviaSerifRegular-webfont.woff') format('woff'), url('fonts/TriviaSerifRegular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'trump_soft_proregular';
  src: url('fonts/TrumpSoftPro-webfont.eot');
  src: url('fonts/TrumpSoftPro-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/TrumpSoftPro-webfont.woff2') format('woff2'), url('fonts/TrumpSoftPro-webfont.svg#trump_soft_proregular') format('svg'), url('fonts/TrumpSoftPro-webfont.woff') format('woff'), url('fonts/TrumpSoftPro-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-xjd8bl');
  src:url('fonts/icomoon.eot?#iefix-xjd8bl') format('embedded-opentype'),
    url('fonts/icomoon.ttf?-xjd8bl') format('truetype'),
    url('fonts/icomoon.woff?-xjd8bl') format('woff'),
    url('fonts/icomoon.svg?-xjd8bl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-home2:before {
  content: "\e901";
}
.icon-home3:before {
  content: "\e902";
}
.icon-office:before {
  content: "\e903";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-quill:before {
  content: "\e907";
}
.icon-pen:before {
  content: "\e908";
}
.icon-blog:before {
  content: "\e909";
}
.icon-eyedropper:before {
  content: "\e90a";
}
.icon-droplet:before {
  content: "\e90b";
}
.icon-paint-format:before {
  content: "\e90c";
}
.icon-image:before {
  content: "\e90d";
}
.icon-images:before {
  content: "\e90e";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-music:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-film:before {
  content: "\e913";
}
.icon-video-camera:before {
  content: "\e914";
}
.icon-dice:before {
  content: "\e915";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-spades:before {
  content: "\e917";
}
.icon-clubs:before {
  content: "\e918";
}
.icon-diamonds:before {
  content: "\e919";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-podcast:before {
  content: "\e91c";
}
.icon-feed:before {
  content: "\e91d";
}
.icon-mic:before {
  content: "\e91e";
}
.icon-book:before {
  content: "\e91f";
}
.icon-books:before {
  content: "\e920";
}
.icon-library:before {
  content: "\e921";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-profile:before {
  content: "\e923";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-file-picture:before {r
  content: "\e927";
}
.icon-file-music:before {
  content: "\e928";
}
.icon-file-play:before {
  content: "\e929";
}
.icon-file-video:before {
  content: "\e92a";
}
.icon-file-zip:before {
  content: "\e92b";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-paste:before {
  content: "\e92d";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-folder-plus:before {
  content: "\e931";
}
.icon-folder-minus:before {
  content: "\e932";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-folder-upload:before {
  content: "\e934";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-barcode:before {
  content: "\e937";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-ticket:before {
  content: "\e939";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-coin-euro:before {
  content: "\e93c";
}
.icon-coin-pound:before {
  content: "\e93d";
}
.icon-coin-yen:before {
  content: "\e93e";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-calculator:before {
  content: "\e940";
}
.icon-lifebuoy:before {
  content: "\e941";
}
.icon-phone:before {
  content: "\e942";
}
.icon-phone-hang-up:before {
  content: "\e943";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-pushpin:before {
  content: "\e946";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-compass:before {
  content: "\e949";
}
.icon-compass2:before {
  content: "\e94a";
}
.icon-map:before {
  content: "\e94b";
}
.icon-map2:before {
  content: "\e94c";
}
.icon-history:before {
  content: "\e94d";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-bell:before {
  content: "\e951";
}
.icon-stopwatch:before {
  content: "\e952";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-printer:before {
  content: "\e954";
}
.icon-keyboard:before {
  content: "\e955";
}
.icon-display:before {
  content: "\e956";
}
.icon-laptop:before {
  content: "\e957";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-mobile2:before {
  content: "\e959";
}
.icon-tablet:before {
  content: "\e95a";
}
.icon-tv:before {
  content: "\e95b";
}
.icon-drawer:before {
  content: "\e95c";
}
.icon-drawer2:before {
  content: "\e95d";
}
.icon-box-add:before {
  content: "\e95e";
}
.icon-box-remove:before {
  content: "\e95f";
}
.icon-download:before {
  content: "\e960";
}
.icon-upload:before {
  content: "\e961";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-drive:before {
  content: "\e963";
}
.icon-database:before {
  content: "\e964";
}
.icon-undo:before {
  content: "\e965";
}
.icon-redo:before {
  content: "\e966";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-forward:before {
  content: "\e969";
}
.icon-reply:before {
  content: "\e96a";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-bubbles3:before {
  content: "\e96f";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-minus:before {
  content: "\e974";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-hour-glass:before {
  content: "\e979";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-spinner3:before {
  content: "\e97c";
}
.icon-spinner4:before {
  content: "\e97d";
}
.icon-spinner5:before {
  content: "\e97e";
}
.icon-spinner6:before {
  content: "\e97f";
}
.icon-spinner7:before {
  content: "\e980";
}
.icon-spinner8:before {
  content: "\e981";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-spinner10:before {
  content: "\e983";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-binoculars:before {
  content: "\e985";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-shrink:before {
  content: "\e98a";
}
.icon-enlarge2:before {
  content: "\e98b";
}
.icon-shrink2:before {
  content: "\e98c";
}
.icon-key:before {
  content: "\e98d";
}
.icon-key2:before {
  content: "\e98e";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-equalizer2:before {
  content: "\e993";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-hammer:before {
  content: "\e996";
}
.icon-magic-wand:before {
  content: "\e997";
}
.icon-aid-kit:before {
  content: "\e998";
}
.icon-bug:before {
  content: "\e999";
}
.icon-pie-chart:before {
  content: "\e99a";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-stats-bars2:before {
  content: "\e99d";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-glass:before {
  content: "\e9a0";
}
.icon-glass2:before {
  content: "\e9a1";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-leaf:before {
  content: "\e9a4";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-meter:before {
  content: "\e9a6";
}
.icon-meter2:before {
  content: "\e9a7";
}
.icon-hammer2:before {
  content: "\e9a8";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-magnet:before {
  content: "\e9ab";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-truck:before {
  content: "\e9b0";
}
.icon-road:before {
  content: "\e9b1";
}
.icon-accessibility:before {
  content: "\e9b2";
}
.icon-target:before {
  content: "\e9b3";
}
.icon-shield:before {
  content: "\e9b4";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-power-cord:before {
  content: "\e9b7";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-list-numbered:before {
  content: "\e9b9";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-tree:before {
  content: "\e9bc";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-menu2:before {
  content: "\e9be";
}
.icon-menu3:before {
  content: "\e9bf";
}
.icon-menu4:before {
  content: "\e9c0";
}
.icon-cloud:before {
  content: "\e9c1";
}
.icon-cloud-download:before {
  content: "\e9c2";
}
.icon-cloud-upload:before {
  content: "\e9c3";
}
.icon-cloud-check:before {
  content: "\e9c4";
}
.icon-download2:before {
  content: "\e9c5";
}
.icon-upload2:before {
  content: "\e9c6";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-upload3:before {
  content: "\e9c8";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-flag:before {
  content: "\e9cc";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-plus:before {
  content: "\e9cf";
}
.icon-eye-minus:before {
  content: "\e9d0";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-bookmarks:before {
  content: "\e9d3";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-contrast:before {
  content: "\e9d5";
}
.icon-brightness-contrast:before {
  content: "\e9d6";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-heart-broken:before {
  content: "\e9db";
}
.icon-man:before {
  content: "\e9dc";
}
.icon-woman:before {
  content: "\e9dd";
}
.icon-man-woman:before {
  content: "\e9de";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-happy2:before {
  content: "\e9e0";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-smile2:before {
  content: "\e9e2";
}
.icon-tongue:before {
  content: "\e9e3";
}
.icon-tongue2:before {
  content: "\e9e4";
}
.icon-sad:before {
  content: "\e9e5";
}
.icon-sad2:before {
  content: "\e9e6";
}
.icon-wink:before {
  content: "\e9e7";
}
.icon-wink2:before {
  content: "\e9e8";
}
.icon-grin:before {
  content: "\e9e9";
}
.icon-grin2:before {
  content: "\e9ea";
}
.icon-cool:before {
  content: "\e9eb";
}
.icon-cool2:before {
  content: "\e9ec";
}
.icon-angry:before {
  content: "\e9ed";
}
.icon-angry2:before {
  content: "\e9ee";
}
.icon-evil:before {
  content: "\e9ef";
}
.icon-evil2:before {
  content: "\e9f0";
}
.icon-shocked:before {
  content: "\e9f1";
}
.icon-shocked2:before {
  content: "\e9f2";
}
.icon-baffled:before {
  content: "\e9f3";
}
.icon-baffled2:before {
  content: "\e9f4";
}
.icon-confused:before {
  content: "\e9f5";
}
.icon-confused2:before {
  content: "\e9f6";
}
.icon-neutral:before {
  content: "\e9f7";
}
.icon-neutral2:before {
  content: "\e9f8";
}
.icon-hipster:before {
  content: "\e9f9";
}
.icon-hipster2:before {
  content: "\e9fa";
}
.icon-wondering:before {
  content: "\e9fb";
}
.icon-wondering2:before {
  content: "\e9fc";
}
.icon-sleepy:before {
  content: "\e9fd";
}
.icon-sleepy2:before {
  content: "\e9fe";
}
.icon-frustrated:before {
  content: "\e9ff";
}
.icon-frustrated2:before {
  content: "\ea00";
}
.icon-crying:before {
  content: "\ea01";
}
.icon-crying2:before {
  content: "\ea02";
}
.icon-point-up:before {
  content: "\ea03";
}
.icon-point-right:before {
  content: "\ea04";
}
.icon-point-down:before {
  content: "\ea05";
}
.icon-point-left:before {
  content: "\ea06";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-question:before {
  content: "\ea09";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-spell-check:before {
  content: "\ea12";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-pause:before {
  content: "\ea16";
}
.icon-stop:before {
  content: "\ea17";
}
.icon-previous:before {
  content: "\ea18";
}
.icon-next:before {
  content: "\ea19";
}
.icon-backward:before {
  content: "\ea1a";
}
.icon-forward2:before {
  content: "\ea1b";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-pause2:before {
  content: "\ea1d";
}
.icon-stop2:before {
  content: "\ea1e";
}
.icon-backward2:before {
  content: "\ea1f";
}
.icon-forward3:before {
  content: "\ea20";
}
.icon-first:before {
  content: "\ea21";
}
.icon-last:before {
  content: "\ea22";
}
.icon-previous2:before {
  content: "\ea23";
}
.icon-next2:before {
  content: "\ea24";
}
.icon-eject:before {
  content: "\ea25";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-medium:before {
  content: "\ea27";
}
.icon-volume-low:before {
  content: "\ea28";
}
.icon-volume-mute:before {
  content: "\ea29";
}
.icon-volume-mute2:before {
  content: "\ea2a";
}
.icon-volume-increase:before {
  content: "\ea2b";
}
.icon-volume-decrease:before {
  content: "\ea2c";
}
.icon-loop:before {
  content: "\ea2d";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-infinite:before {
  content: "\ea2f";
}
.icon-shuffle:before {
  content: "\ea30";
}
.icon-arrow-up-left:before {
  content: "\ea31";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-up-right:before {
  content: "\ea33";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-down-right:before {
  content: "\ea35";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-arrow-down-left:before {
  content: "\ea37";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-arrow-up-left2:before {
  content: "\ea39";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down-right2:before {
  content: "\ea3d";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-down-left2:before {
  content: "\ea3f";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-tab:before {
  content: "\ea45";
}
.icon-move-up:before {
  content: "\ea46";
}
.icon-move-down:before {
  content: "\ea47";
}
.icon-sort-alpha-asc:before {
  content: "\ea48";
}
.icon-sort-alpha-desc:before {
  content: "\ea49";
}
.icon-sort-numeric-asc:before {
  content: "\ea4a";
}
.icon-sort-numberic-desc:before {
  content: "\ea4b";
}
.icon-sort-amount-asc:before {
  content: "\ea4c";
}
.icon-sort-amount-desc:before {
  content: "\ea4d";
}
.icon-command:before {
  content: "\ea4e";
}
.icon-shift:before {
  content: "\ea4f";
}
.icon-ctrl:before {
  content: "\ea50";
}
.icon-opt:before {
  content: "\ea51";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-radio-checked2:before {
  content: "\ea55";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-crop:before {
  content: "\ea57";
}
.icon-make-group:before {
  content: "\ea58";
}
.icon-ungroup:before {
  content: "\ea59";
}
.icon-scissors:before {
  content: "\ea5a";
}
.icon-filter:before {
  content: "\ea5b";
}
.icon-font:before {
  content: "\ea5c";
}
.icon-ligature:before {
  content: "\ea5d";
}
.icon-ligature2:before {
  content: "\ea5e";
}
.icon-text-height:before {
  content: "\ea5f";
}
.icon-text-width:before {
  content: "\ea60";
}
.icon-font-size:before {
  content: "\ea61";
}
.icon-bold:before {
  content: "\ea62";
}
.icon-underline:before {
  content: "\ea63";
}
.icon-italic:before {
  content: "\ea64";
}
.icon-strikethrough:before {
  content: "\ea65";
}
.icon-omega:before {
  content: "\ea66";
}
.icon-sigma:before {
  content: "\ea67";
}
.icon-page-break:before {
  content: "\ea68";
}
.icon-superscript:before {
  content: "\ea69";
}
.icon-subscript:before {
  content: "\ea6a";
}
.icon-superscript2:before {
  content: "\ea6b";
}
.icon-subscript2:before {
  content: "\ea6c";
}
.icon-text-color:before {
  content: "\ea6d";
}
.icon-pagebreak:before {
  content: "\ea6e";
}
.icon-clear-formatting:before {
  content: "\ea6f";
}
.icon-table:before {
  content: "\ea70";
}
.icon-table2:before {
  content: "\ea71";
}
.icon-insert-template:before {
  content: "\ea72";
}
.icon-pilcrow:before {
  content: "\ea73";
}
.icon-ltr:before {
  content: "\ea74";
}
.icon-rtl:before {
  content: "\ea75";
}
.icon-section:before {
  content: "\ea76";
}
.icon-paragraph-left:before {
  content: "\ea77";
}
.icon-paragraph-center:before {
  content: "\ea78";
}
.icon-paragraph-right:before {
  content: "\ea79";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
.icon-indent-increase:before {
  content: "\ea7b";
}
.icon-indent-decrease:before {
  content: "\ea7c";
}
.icon-share:before {
  content: "\ea7d";
}
.icon-new-tab:before {
  content: "\ea7e";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-mail3:before {
  content: "\ea85";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-google:before {
  content: "\ea87";
}
.icon-google-plus:before {
  content: "\ea88";
}
.icon-google-plus2:before {
  content: "\ea89";
}
.icon-google-plus3:before {
  content: "\ea8a";
}
.icon-google-drive:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea8c";
}
.icon-facebook2:before {
  content: "\ea8d";
}
.icon-facebook3:before {
  content: "\ea8e";
}
.icon-ello:before {
  content: "\ea8f";
}
.icon-instagram:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea91";
}
.icon-twitter2:before {
  content: "\ea92";
}
.icon-twitter3:before {
  content: "\ea93";
}
.icon-feed2:before {
  content: "\ea94";
}
.icon-feed3:before {
  content: "\ea95";
}
.icon-feed4:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea97";
}
.icon-youtube2:before {
  content: "\ea98";
}
.icon-youtube3:before {
  content: "\ea99";
}
.icon-youtube4:before {
  content: "\ea9a";
}
.icon-twitch:before {
  content: "\ea9b";
}
.icon-vimeo:before {
  content: "\ea9c";
}
.icon-vimeo2:before {
  content: "\ea9d";
}
.icon-vimeo3:before {
  content: "\ea9e";
}
.icon-lanyrd:before {
  content: "\ea9f";
}
.icon-flickr:before {
  content: "\eaa0";
}
.icon-flickr2:before {
  content: "\eaa1";
}
.icon-flickr3:before {
  content: "\eaa2";
}
.icon-flickr4:before {
  content: "\eaa3";
}
.icon-picassa:before {
  content: "\eaa4";
}
.icon-picassa2:before {
  content: "\eaa5";
}
.icon-dribbble:before {
  content: "\eaa6";
}
.icon-dribbble2:before {
  content: "\eaa7";
}
.icon-dribbble3:before {
  content: "\eaa8";
}
.icon-forrst:before {
  content: "\eaa9";
}
.icon-forrst2:before {
  content: "\eaaa";
}
.icon-deviantart:before {
  content: "\eaab";
}
.icon-deviantart2:before {
  content: "\eaac";
}
.icon-steam:before {
  content: "\eaad";
}
.icon-steam2:before {
  content: "\eaae";
}
.icon-dropbox:before {
  content: "\eaaf";
}
.icon-onedrive:before {
  content: "\eab0";
}
.icon-github:before {
  content: "\eab1";
}
.icon-github2:before {
  content: "\eab2";
}
.icon-github3:before {
  content: "\eab3";
}
.icon-github4:before {
  content: "\eab4";
}
.icon-github5:before {
  content: "\eab5";
}
.icon-wordpress:before {
  content: "\eab6";
}
.icon-wordpress2:before {
  content: "\eab7";
}
.icon-joomla:before {
  content: "\eab8";
}
.icon-blogger:before {
  content: "\eab9";
}
.icon-blogger2:before {
  content: "\eaba";
}
.icon-tumblr:before {
  content: "\eabb";
}
.icon-tumblr2:before {
  content: "\eabc";
}
.icon-yahoo:before {
  content: "\eabd";
}
.icon-tux:before {
  content: "\eabe";
}
.icon-apple:before {
  content: "\eabf";
}
.icon-finder:before {
  content: "\eac0";
}
.icon-android:before {
  content: "\eac1";
}
.icon-windows:before {
  content: "\eac2";
}
.icon-windows8:before {
  content: "\eac3";
}
.icon-soundcloud:before {
  content: "\eac4";
}
.icon-soundcloud2:before {
  content: "\eac5";
}
.icon-skype:before {
  content: "\eac6";
}
.icon-reddit:before {
  content: "\eac7";
}
.icon-linkedin:before {
  content: "\eac8";
}
.icon-linkedin2:before {
  content: "\eac9";
}
.icon-lastfm:before {
  content: "\eaca";
}
.icon-lastfm2:before {
  content: "\eacb";
}
.icon-delicious:before {
  content: "\eacc";
}
.icon-stumbleupon:before {
  content: "\eacd";
}
.icon-stumbleupon2:before {
  content: "\eace";
}
.icon-stackoverflow:before {
  content: "\eacf";
}
.icon-pinterest:before {
  content: "\ead0";
}
.icon-pinterest2:before {
  content: "\ead1";
}
.icon-xing:before {
  content: "\ead2";
}
.icon-xing2:before {
  content: "\ead3";
}
.icon-flattr:before {
  content: "\ead4";
}
.icon-foursquare:before {
  content: "\ead5";
}
.icon-paypal:before {
  content: "\ead6";
}
.icon-paypal2:before {
  content: "\ead7";
}
.icon-paypal3:before {
  content: "\ead8";
}
.icon-yelp:before {
  content: "\ead9";
}
.icon-file-pdf:before {
  content: "\eada";
}
.icon-file-openoffice:before {
  content: "\eadb";
}
.icon-file-word:before {
  content: "\eadc";
}
.icon-file-excel:before {
  content: "\eadd";
}
.icon-libreoffice:before {
  content: "\eade";
}
.icon-html5:before {
  content: "\eadf";
}
.icon-html52:before {
  content: "\eae0";
}
.icon-css3:before {
  content: "\eae1";
}
.icon-git:before {
  content: "\eae2";
}
.icon-svg:before {
  content: "\eae3";
}
.icon-codepen:before {
  content: "\eae4";
}
.icon-chrome:before {
  content: "\eae5";
}
.icon-firefox:before {
  content: "\eae6";
}
.icon-IE:before {
  content: "\eae7";
}
.icon-opera:before {
  content: "\eae8";
}
.icon-safari:before {
  content: "\eae9";
}
.icon-IcoMoon:before {
  content: "\eaea";
}


html
{
  font-size: 100.01%;
  height: 100%;
}
body
{
  font-size: 14px;
  color: #5d5a57;
  line-height: 1.6;
  height: 100%;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none; 
  background: #EDEBEA;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1 {
  font-size: 36px;
  line-height: 40px;
}
h2 {
  font-size: 30px;
  line-height: 40px;
}
h3 {
  font-size: 24px;
  line-height: 40px;
}
h4 {
  font-size: 18px;
  line-height: 20px;
}
h5 {
  font-size: 14px;
  line-height: 20px;
}
h6 {
  font-size: 12px;
  line-height: 20px;
}
h1 small {
  font-size: 24px;
}
h2 small {
  font-size: 18px;
}
h3 small {
  font-size: 14px;
}
h4 small {
  font-size: 14px;
}

/* List - Text - Link
-------------------------------------------------------------- */

a{
    color: #8c2834;
    text-decoration: none;
    outline: none;
}
a:hover{
    color: #8c2834;    
    text-decoration: none;
    outline: medium none;
}
a:focus {
  text-decoration: none;
   color: #8c2834;   
  outline: medium none;
}
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
dl {
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 20px;
}
dt{
  font-weight: bold;
}
dd{
  margin-left: 10px;
}
.dl-horizontal {
  *zoom: 1;
}
.dl-horizontal:before,
.dl-horizontal:after {
  display: table;
  line-height: 0;
  content: "";
}
.dl-horizontal:after {
  clear: both;
}
.dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 180px;
}
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}
blockquote small {
  display: block;
  line-height: 20px;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
blockquote.pull-right small:before {
  content: '';
}
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}
code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
pre.prettyprint {
  margin-bottom: 20px;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

/* Form
-------------------------------------------------------------- */

form {
  margin: 0 0 20px;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
legend small {
  font-size: 15px;
  color: #999999;
}
label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  outline: medium none;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
label {
  display: block;
  margin-bottom: 5px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;  
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
input[type="submit"],
button[type="submit"] {
  -webkit-appearance: none;
}
input,
textarea,
.uneditable-input {
  width: 206px;
}
textarea {
  height: auto;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}
select {
  width: 220px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
select[multiple],
select[size] {
  height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.uneditable-input,
.uneditable-textarea {
  color: #999999;
  cursor: not-allowed;
  background-color: #fcfcfc;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
}
.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}
.uneditable-textarea {
  width: auto;
  height: auto;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}

/* Table
-------------------------------------------------------------- */

table{
    margin-bottom: 0.4em;
    width: 100%;
}
th{
    font-weight: bold;
}
thead th{
    
}
th, td, caption{
    padding: 4px 10px 4px 4px;
    vertical-align: middle;
}
tbody tr:nth-child(even) td, tbody tr.even td{

}
tfoot{
    font-style: italic;
}
caption{
    background: #eee;
}

/* Select
-------------------------------------------------------------- */

::selection{
    background: #8c2834; /* Safari */
    color: #fff;
}
::-moz-selection{
    background: #8c2834; /* Firefox */
    color: #fff;
}
img::selection{
    background: transparent;
}
img::-moz-selection{
    background: transparent;
}



/*-------------------------------------------------------------- 
2. MISC
-------------------------------------------------------------- */

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:before,.cf:before,.clearfix:after,.cf:after,.container:before,.container:after{content:"\0020";display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after,.cf:after,.container:after{clear:both}
.clearfix,.cf,.container{*zoom:1}
.prefix1{padding-left: 5px !important;  }
.prefix2{padding-left: 10px !important;}
.prefix3{padding-left: 15px !important;}
.prefix4{padding-left: 20px !important;}
.prefix5{padding-left: 25px !important;}
.prefix6{padding-left: 30px !important;}
.suffix1{padding-right: 5px !important;}
.suffix2{padding-right: 10px !important;}
.suffix3{padding-right: 15px !important;}
.suffix4{padding-right: 20px !important;}
.suffix5{padding-right: 25px !important;}
.suffix6{padding-right: 30px !important;}
.wrap01{padding: 5px 0;}
.wrap02{padding: 10px 0;}
.wrap03{padding: 15px 0;}
.wrap04{padding: 20px 0;}
.wrap05{padding: 25px 0;}
.wrap06{padding: 30px 0;}
.wrap1{padding: 5px;}
.wrap2{padding: 10px;}
.wrap3{padding: 15px;}
.wrap4{padding: 20px;}
.wrap5{padding: 25px;}
.wrap6{padding: 30px;}
.wrap0{padding: 0;}
.mb1{margin-bottom: 5px;}
.mb2{margin-bottom: 10px;}
.mb3{margin-bottom: 15px;}
.mb4{margin-bottom: 20px;}
.mt1{margin-top: 5px}
.mt2{margin-top: 10px}
.mt3{margin-top: 15px}
.mt4{margin-top: 20px}
.left,.pull-left{float: left !important;}
.right,.pull-right{float: right !important;}
.banner img, figure img{display: block;}
.reset{margin-bottom: 0;}
.reset td{padding: 0;}
.inline{width:auto;}
.relative{position: relative;}
.figure, figure{ overflow: hidden;}
.figure img{height: 100%;max-width: none;}
.figure, figure{text-align: center;display: block;}
.figure2{display: block;overflow: hidden;}
.figure2 img{width: 100%;height: auto;min-height: 100%;}
.figure2 span{display:block;width:100%;height:100%;overflow:hidden;}
.overhidden{ overflow:hidden;}
.loud{ color: #cd010e;}
.muted{color: #999;}
.color{color: rgb(255,51,51) !important;}
.link{color: #000;}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
.well-large {
  padding: 24px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.well-small {
  padding: 9px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
     -moz-transition: opacity 0.15s linear;
       -o-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
     -moz-transition: height 0.35s ease;
       -o-transition: height 0.35s ease;
          transition: height 0.35s ease;
}
.collapse.in {
  height: auto;
}
.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
ul.style1{
    padding: 0;
    margin: 0 0 20px 0;
}
ul.style1 li{
    list-style-type: none;
    margin: 0;
    background: url(images/list1.png) no-repeat 5px 0.5em;
    padding-left: 30px;
}
ul.style2{
    padding: 0;
    margin: 0 0 20px 0;
}
ul.style2 li{
    list-style-type: none;
    margin: 0;
    background: url(images/list2.png) no-repeat 5px 0.7em;
    padding: 4px 4px 4px 20px;
}
hr.line{border-top: 1px solid #ccc;}
hr.dashed{ border-top: 1px dashed #ccc;}
img.align-left{float: left; margin: 8px 20px 10px 0;}
img.align-right{ float: right; }
img.align-center{ margin: 0px auto;}
.align-left{text-align: left !important;}
.align-right{text-align: right!important;}
.align-center{text-align: center !important;}
table.style1 tr td{ vertical-align: top; padding: 0 10px 5px 0;text-align: left;}
.header-zone {
  position: relative;
  z-index: 40;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-container {
  margin-left: 45px;
  margin-right: 45px;
}
.header-zone .header-container {
  background: #fff;
}
.tooltip-bot {
  padding-top: 10px;
}
.tooltip-bot a {
  display: inline-block;
  margin-right: 12px;
}
.ul-primary-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.ul-primary-nav:after {
  clear: both;
  content: '';
  display: block;
}
.ul-primary-nav > li {
  display: inline-block;
  margin: 0 12px;
}
.submenu {
  display: none;
}
.ul-primary-nav > li > a {
  
  font-size: 24px;  
  color: #5d5a57;
  font-family: "trump_soft_proregular",Arial,Helvetica,sans-serif;
  text-transform: uppercase;  
  line-height: 100px;
  display: inline-block;
}
.ul-primary-nav > li > a:hover {
  text-decoration: none;
  color: #8c2834;
}
.ul-primary-nav > li.home {
  
}
.ul-primary-nav > li.home a {
  text-indent: -999em;
  width: 56px;
  background: url("images/site-logo.png") no-repeat center center;
  height: 100px;
}
.home-hero-zone {
  background-color: #f2f2f2;
  text-align: center;
  position: relative;  
  overflow: hidden;
}
.page-hero-zone {
  background-color: #f2f2f2;
  text-align: center; 
  padding: 43px 0;
  position: relative;
}
.home-hero-slider {
  margin: 0;
  padding: 0;
  list-style: none;
  /* color: #fff; */
 
}

.home-hero-text {
  font-family: "trivia_serif_regularregular",Arial,Helvetica,sans-serif;
  text-transform: uppercase;
  position: absolute; 
  z-index: 2;
  top: 300px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.home-hero-zone {
  position: relative; 
}
.home-hero-slider li {
  width: 900px;
  height: 750px;
  float: left;
  
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.home-next-slide,
.home-prev-slide {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  z-index: 4;
  color: #f2f2f2;
  cursor: pointer;
  
}
.home-next-slide .icomoon,
.home-prev-slide .icomoon {
  font-size: 45px;
}
.home-next-slide {
  right: 45px;
}
.home-prev-slide {
  left: 45px;
}
.home-pagination {
  position: absolute;
  bottom: 0;
  z-index: 4;
  left: 0;
  right: 0;
}
.home-pagination a {
  display: inline-block;
  width: 70px;
  border-bottom: 5px solid #fff;
  font-family: "trump_soft_proregular",Arial,Helvetica,sans-serif;
  color: transparent;
  font-size: 20px;
  margin: 0 3px;
  transition: all 277ms ease-in-out 0s;
  -webkit-transition: all 277ms ease-in-out 0s;
  -moz-transition: all 277ms ease-in-out 0s;
  line-height: 31px;
}
.home-pagination a.selected {
  color: #fff;
  line-height: 25px;
  border-bottom: 8px solid #620303;
}
.black-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}
.home-hero-text h1 {
  margin-bottom: 0;
  font-size: 75px;
  line-height: 79px;
  text-align: center;
  color: #fff;
}
.home-hero-text h2 {
  font-size: 24px;
  line-height: 30px;
  padding: 2px 0 0;
  margin-bottom: 0;
  color: #fff;
}
.g-list:after {
  content: "";
  display: block;
  clear: -webkit-background-origin: ;
  background-origin: ;th;
}
.g-item {
  float: left;
  width: 20%;
  height: 20%;
}
.g-link-cover {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.g-cover-img {
  display: block;
  width: 100%;  
}
.g-title {
  position: absolute;
  bottom: 0;
  padding: 22px 10px;
  height: 110px;
  background: url(images/black.png);
  width: 100%;
  left: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  right: 0;
  font-family: "trivia_serif_regularregular",Arial,Helvetica,sans-serif;
  font-weight: normal;
  line-height: 30px;
}
.g-cover-img img {
  max-width: 100%;
}
.home-intro-zone {
  padding: 50px 0;
  background: #fff;
}
.intro-item:after {
  content: "";
  display: block;
  clear: both;
}
.intro-item {
  margin-bottom: 40px;
}
.intro-icon {
  float: left;
  margin-right: 15px;
}
.intro-txt {
  overflow: hidden;  
}
.intro-txt h4 {
  
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #2f2b2b;  
  font-family: "trivia_serif_regularregular",Arial,Helvetica,sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;  
  
}
.copyright-text {
  text-align: center;
  padding: 10px 0;
  font-size: 13px;
  position: relative;
}
.top-page {
  position: absolute;
  right: 50px;
  bottom: 10px;
  font-size: 22px;
}
.link-about {
  text-align: center;
  background: #120f0f;
  font-size: 30px;
  line-height: 150px;
  height: 150px;
  text-transform: uppercase;
  font-weight: 700;  
}
.link-about a {
  display: block;
  color: #fff;
}
.link-about a:hover {
  text-decoration: none;
}
.link-contact {
  text-align: center;
  background: #580607;
  font-size: 30px;
  line-height: 150px;
  height: 150px;
  text-transform: uppercase;
  font-weight: 700;  
}
.link-contact a {
  display: block;
  color: #fff;
}
.link-contact a:hover {
  text-decoration: none;
}
/* pager
-------------------------------------------------------------- */
.wp-pagenavi{  
  padding: 50px 0;
  text-align: center;
}
.wp-pagenavi a,
.wp-pagenavi span{
  display: inline-block;  

  font-family: "trump_soft_proregular",Arial,Helvetica,sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
  line-height: 46px;
  color: #2f2b2b;
  margin: 0 15px;
}
.page{
  
}
.pages{
}
.wp-pagenavi .current{
  border-bottom: 1px solid #620303;
  color: #A8A39D;
}
.larger{
}
.nextpostslink{

}
.primary-nav {
  position: relative;
  z-index: 9999;
}
.dropdown-menu {
  box-shadow: none;
  border: none;
  border-radius: 0;
  background: #111;
  padding: 10px 0;
  z-index: 9999;
}
.dropdown-menu > li > a {
  color: #f2f2f2;
  padding: 10px 20px;
  text-transform: uppercase;
}
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {  
  color: #fff;
  background: #000;
}

.black-hr {
  width: 50px;
  margin: 30px 0 60px;
  border: 1px solid #620303;
}
.master-page {
  padding-top: 80px;
}
.page-desc {  
  font-size: 17px;  
  line-height: 27px;

}
.page-desc p {
  margin-bottom: 20px;
}
.page-hero-zone {
  background-repeat: no-repeat;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  background-position: center center;
  padding-top: 100px;
  height: 500px;
}
.page-container {
  padding-left: 45px;
  padding-right: 45px;
  position: relative;
}
.page-about {
  background: #EDEBEA;
  margin-top: -150px;   
  width: 70%;
  padding: 35px 30px;
  position: relative;
  z-index: 3;
}
.page-hero-text {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  line-height: 26px;
  overflow: hidden;
  padding: 9px 30px 7px;
  position: relative;
  text-align: center;
  vertical-align: middle;  
  z-index: 20;
  position: absolute;
  top: -50px;
  left: 0px;
  font-family: "trump_soft_proregular",Arial,Helvetica,sans-serif;
  letter-spacing: -1px;
  transition: all 277ms ease-in-out 0s;
  -webkit-transition: all 277ms ease-in-out 0s;
  -moz-transition: all 277ms ease-in-out 0s;
}
.page-hero-text:after {
    background: #fff none repeat scroll 0 0;
    content: "";
    display: block;
    height: 110%;
    left: -160%;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: skewX(-30deg);
    transition: all 400ms ease-in-out 0s;
    width: 160%;
    z-index: 1;
}
.page-hero-text:hover {
  color: #620303;
}
.page-hero-text:hover:after {
    opacity: 1;
    transform: skewX(0deg) translateX(80%);
    -webkit-transform: skewX(0deg) translateX(80%);
    -moz-transform: skewX(0deg) translateX(80%);
}
.follow {
  color: #5d5a57;
  display: inline-block;
  font-family: "trump_soft_proregular",Arial,Helvetica,sans-serif;
  font-size: 24px;
  line-height: 50px;
  text-transform: uppercase;
  float: right;
}
.follow a, .contact-social a {
  background: #2f2b2b none repeat scroll 0 0;
  color: #fff;
  font-family: "icomoon",Arial,Helvetica,sans-serif;
  font-size: 18px;
  height: 100px;
  line-height: 100px;
  margin: 0 0 0 0px;
  text-align: center;
  vertical-align: middle;
  display: block;
  float: right;
  width: 40px;
  transition: all 370ms ease-in-out 0s;
  -webkit-transition: all 370ms ease-in-out 0s;
  -moz-transition: all 370ms ease-in-out 0s;
  position: relative;
  overflow: hidden;
}
.follow-title {
  line-height: 100px;
}
.follow a:after {
  background: #620303 none repeat scroll 0 0;
  content: "";
  display: block;
  height: 110%;
  left: -160%;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: skewX(-30deg);
  transition: all 400ms ease-in-out 0s;
  width: 160%;
  z-index: 1;
}
.follow a:hover:after {
  opacity: 1;
  transform: skewX(0deg) translateX(80%);
  -webkit-transform: skewX(0deg) translateX(80%);
  -moz-transform: skewX(0deg) translateX(80%);
}
.follow a:hover {

}
.letters {
    position: relative;
    z-index: 5;
}
.intro-title {
  font-family: "trivia_serif_regularregular",Arial,Helvetica,sans-serif;
  text-transform: uppercase;
  color: #5d5a57;
  font-size: 45px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px;
}
.offer-post-details {
    position: absolute;
    right: -210px;
    top: 160px;
    width: 200px;
    z-index: 6;
}
.share-holder {    
}
.offer-event-details {
  width: 125px;
  margin: 0 auto;
}
.share-link {
    border: 1px solid #b3b2b1;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    z-index: 10;
}
.share-link .share-title {
    color: #5d5a57;
    display: block;
    font-family: "trump_soft_proregular",Arial,Helvetica,sans-serif;
    font-size: 24px;
    line-height: 26px;
    padding: 8px 30px;
    position: relative;
    z-index: 1;
}

.share-link .share-icons {
  background: #edebea none repeat scroll 0 0;
  color: #5d5a57;
  display: block;
  font-family: "icomoon",Arial,Helvetica,sans-serif;
  font-size: 18px;
  height: 100%;
  left: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  width: 100%;
  z-index: 5;
}
.trans-med, .trans-med:hover {
  transition: all 377ms ease-in-out 0s;
  -webkit-transition: all 377ms ease-in-out 0s;
  -moz-transition: all 377ms ease-in-out 0s;
}
.share-link .icon {
    cursor: pointer;
    display: inline-block;
    float: left;
    overflow: hidden;
    padding: 11px 0;
    position: relative;
    vertical-align: middle;
    width: 33.3%;
    z-index: 10;
}
.share-link .icon:after {
    background: #b3b2b1 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    left: -160%;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    transition: all 400ms ease-in-out 0s;
    -webkit-transition: all 400ms ease-in-out 0s;
    -moz-transition: all 400ms ease-in-out 0s;
    width: 160%;
    z-index: 1;
}
.share-link .st_facebook_custom, .share-link .st_twitter_custom, .share-link .st_pinterest_custom, .share-link .st_sharethis_custom, .share-link .st_email_custom {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
}
.share-link:hover .share-icons {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
}

.follow-title {
  padding-right: 10px;
}
.footer {
  background: #fff;
  color: #9e9c9a;

}

.post-nav {
    /* margin: 90px 270px 0 30px; */
}
.post-nav .next-link,
.post-nav .prev-link,
.page-nav .next-link,
.page-nav .prev-link {
  background: #242121 none repeat scroll 0 0;
  color: #fff;
  display: block;
  float: left;
  font-family: "trump_soft_proregular", Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 22px;
  position: relative;
  text-transform: uppercase;
  width: 50%;
  transition: all 277ms ease-in-out 0s;
  -webkit-transition: all 277ms ease-in-out 0s;
  -moz-transition: all 277ms ease-in-out 0s;
}

.post-nav .prev-link,
.page-nav .prev-link {
  text-align: left;
}

.post-nav .next-link:after,
.post-nav .prev-link:after,
.page-nav .next-link:after,
.page-nav .prev-link:after {
  background: #edebea none repeat scroll 0 0;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.post-nav .prev-link:after,
.page-nav .prev-link:after {
  right: 0;
}

.post-nav .inner,
.page-nav .inner {
  display: block;
  padding: 11px 22px 10px;
  position: relative;
}

.post-nav .prev-link .inner,
.page-nav .prev-link .inner {
  margin: 0 0 0 17px;
}
.icomoon {
    color: inherit;
    display: block;
    font-family: "icomoon",Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 2px 0 0;
}
.post-nav .icomoon,
.page-nav .icomoon {
  font-size: 18px;
  position: absolute;
  top: 11px;
  z-index: 1;
}

.post-nav .prev-link .icomoon,
.page-nav .prev-link .icomoon {
  right: 80px;
}

.post-nav .prev-link,
.page-nav .prev-link {
  text-align: right;
}

.post-nav .next-link .inner,
.page-nav .next-link .inner {
  margin: 0 17px 0 0;
}

.post-nav .next-link,
.page-nav .next-link {
}

.post-nav .next-link .icomoon,
.page-nav .next-link .icomoon {
  left: 80px;
}

.post-nav .next-link:hover,
.post-nav .prev-link:hover,
.page-nav .next-link:hover,
.page-nav .prev-link:hover {
  background: #620303;
  color: #fff;
}
.block-inner {
    margin: 0 20px 20px;
    
}
.numeric-title {
    color: #fff;
    display: block;
    font-family: "trump_soft_proregular",Arial,Helvetica,sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    line-height: 46px;
    margin: 0 0 15px;
    text-decoration: underline;
}

.numeric-title.black {
    color: #2f2b2b;
    margin-bottom: 11px;
    text-decoration: none;
}
.divider {
    background: #dbcfbb none repeat scroll 0 0;
    height: 1px;
    margin: 5px auto;
    width: 75px;
}
.divider.dark {
    background: #b3b2b1 none repeat scroll 0 0;
}
.title {
    color: #5d5a57;
    display: block;
    font-family: "trivia_serif_regularregular",Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    padding: 40px 27px 0;
    text-align: left;
    margin-bottom: 0;
}
.title.black {
    color: #2f2b2b;
    padding: 0;
    text-align: inherit;
}
.section-staff {
  background: #D6CCC3;  
  position: relative;
  z-index: 3;
}
.section-staff .container {
  padding: 50px 0;
  background: #D6CCC3;  
}
.staff-item {
  text-align: center;
  position: relative;
  float: left;
  width: 20%;
}
.staff-item .icomoon {
  margin-bottom: 15px;
}
.title-wrapper {  
  background: #fff;  
  padding: 10px;
  width: auto;
  margin: -40px 30px 50px 30px;
  position: relative;
  z-index: 1;
}
.divider.move-left {
    background: #a8a39d none repeat scroll 0 0;
    left: -10px;
    margin: 0 0 15px;
    position: relative;
}
.divider.move-middle {
    background: #620303 none repeat scroll 0 0;
    margin: 12px 0 15px;
    left: -10px;
    position: relative;
}
.text-rep-subtitle {
    color: #2f2b2b;
    font-family: "trivia_serif_regularregular",Arial,Helvetica,sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 35px;
    margin: -115px 0 8px;
    text-transform: uppercase;
    float: right;
    background: #D6CCC3;
    padding: 20px 50px 80px 50px;
}
.text-rep-block-2{
  position: relative;
}
.text-rep-block-2 {
    margin: 0 auto;
    max-width: 1040px;
    padding: 45px 0 45px;
    width: 90%;
    z-index: 6;
}
.text-rep-thumb {
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    height: 150px;
    left: 120px;
    overflow: hidden;
    position: absolute;
    top: -60px;
    width: 150px;
    z-index: 30;
    background: #A8A39D;
}
.text-rep-block-2 .text-rep-thumb {
    left: 0;
}

.text-rep-thumb .number {
    color: #fff;
    font-family: "trump_soft_proregular",Arial,Helvetica,sans-serif;
    font-size: 50px;
    left: 0;
    line-height: 53px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2;
}

.text-rep-block-2 .rep-text {
    float: right;
    max-width: 760px;
    width: 80%;
}
.text-rep-block-2 .rep-main {
    float: left;
    width: 67%;
}

.text-rep-block-2 .rep-main-inner {
    padding: 0 45px 0 0;
}
.text-rep-title {
    color: #620303;
    font-family: "trivia_serif_regularregular",Arial,Helvetica,sans-serif;
    font-size: 40px;
    font-weight: normal;
    line-height: 45px;
    margin: 0 0 24px;
    text-transform: uppercase;
}
.rep-image {
  overflow: hidden;
}
.text-rep-block-3 {
    margin: 0 auto;
    max-width: 980px;
    padding: 90px 0 70px;
    position: relative;
    width: 90%;
}
.text-rep-block-3 .text-rep-thumb {
    left: -30px;
    top: -72px;
}
.text-rep-block-3 .rep-text {
    width: 50%;
    float: left;
}
.text-rep-block-3 .rep-main {
    float: none;
}
.text-rep-block-3-holder {
  background-color: #FFFFFF;

}
.text-rep-block-2-holder.alt {
  background: #fff;
}
.grey-block {
  background: #fff none repeat scroll 0 0;
    padding: 195px 20px 12px;
    position: relative;
    text-align: center;
    z-index: 2;
}

.grey-block.sm-gap {
    padding: 60px 0 60px;
}
.text-holder {
    margin: 0 auto 50px;
    max-width: 580px;
    text-align: center;
    width: 90%;
}
.main-title {
    color: #5d5a57;
    display: block;
    font-family: "trivia_serif_regularregular",Arial,Helvetica,sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: normal;
    line-height: 50px;
    margin: 0 0 160px;
    text-transform: uppercase;
}
.main-title.sm-gap {
    margin-bottom: 5px;
}
.text-small-title {
    color: #5d5a57;
    display: block;
    font-family: "trivia_serif_regularregular",Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    margin: 0 0 22px;
}
.grid-30 {
  float: left;
  width: 33.3333333%;
}
.page-header {
    padding: 130px 0 30px;
    text-align: center;
    border-bottom: none;
}
.page-header.with-text {
    padding-bottom: 50px;
}

.page-header .txt {
    margin: 0 auto;
    max-width: 580px;
    width: 90%;
}
.main-title.sm-gap {
    margin-bottom: 5px;
}
.text-title {
    color: #fff;
    display: block;
    font-family: "trivia_serif_regularregular",Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    margin: 0 0 25px;
}
.text-title.dark {
    color: #5d5a57;
}
.text-title.sm-gap {
    margin-bottom: 15px;
}
.block-50, .block-33, .block-60, .block-40, .block-66, .block-25 {
    float: left;
    width: 50%;
}
.block-50.inline, .block-33.inline, .block-60.inline, .block-40.inline, .block-66.inline, .block-25.inline {
    display: inline-block;
    
    vertical-align: top;
}
.experience-link {
    color: #5d5a57;
    display: block;
    overflow: hidden;
    position: relative;
}
.experience-link.normal:after {
    background: #fff none repeat scroll 0 0;
    border-bottom: 4px solid #8C2834;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 3;
}
.experience-link .img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 2;
}
.experience-link .content {
    background: #fff none repeat scroll 0 0;
    display: block;
    left: 0;
    padding: 24px 0 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50%;
    z-index: 5;
}

.experience-link .content-txt {
    display: block;
    margin: 0;
    min-height: 230px;
    padding: 0 20px;
    position: relative;
    z-index: 8;
}
.category-title {
    border-bottom: 1px solid #a8a39d;
    color: #2f2b2b;
    display: inline-block;
    font-family: "trump_soft_proregular",Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 27px;
    margin: 0 0 9px;
    padding: 0 12px 5px;
    vertical-align: middle;
}
.experience-link .exp-image {
    display: block;
    position: relative;
    z-index: 1;
}
.experiences-page-list {
    margin: 0 auto;
    max-width: 1414px;
    padding: 0 0 85px;
    text-align: center;
    width: 90%;
}
.experience-link.wide .img {
    width: 100%;
}
.experience-link:hover .img {
    transform: scale(1.05);
    transition: all 770ms ease-in-out 0s;
    -webkit-transition: all 770ms ease-in-out 0s;
    -moz-transition: all 770ms ease-in-out 0s;
}
.contact-info {
  background: #fff none repeat scroll 0 0;
  border-bottom: 5px solid #580608;
  font-size: 14px;
  line-height: 22px;  
  padding: 30px 20px 38px;
  position: relative;
  top: -50px;
  z-index: 20;
}
.contact-wrapper {
  background: #E0DBD8;
}
.footer-title {
    color: #2f2b2b;
    font-family: "trump_soft_proregular",Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 27px;
    margin: 0 0 14px;
}
.block-33 {
    width: 33%;
    float: left;
}
.fields-spacing {
    margin: 0 4px;
}
.wpcf7-form-control-wrap {
    position: relative;
}
input.input, 
textarea.textarea {
    background: #edebea none repeat scroll 0 0;
    border: 1px solid #b3b2b1;    
    color: #000;
    display: block;
    float: none;
    font-family: "trump_soft_proregular",Arial,Helvetica,sans-serif;
    font-size: 22px;
    line-height: 24px;
    margin: 0 0 8px;
    padding: 10px;
    text-align: center;
    width: 100%;
    border-radius: 0;
    background: transparent;
    height: 50px;
}
input.submit {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    color: #2f2b2b;
    cursor: pointer;
    display: block;
    float: none;
    font-family: "trump_soft_proregular",Arial,Helvetica,sans-serif;
    font-size: 22px;
    line-height: 28px;
    margin: 0 0 10px;
    padding: 11px 5px;
    vertical-align: middle;
    width: 100%;
    transition: all 277ms ease-in-out 0s;
    -webkit-transition: all 277ms ease-in-out 0s;
    -moz-transition: all 277ms ease-in-out 0s;
}
input.submit:hover {
    background: #580608;
    color: #fff;
}

textarea.textarea {
    height: 160px;
    resize: vertical;
}
.block-99 {
    width: 99%;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    
    box-shadow: none;
    
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: #b3b2b1;
    box-shadow: none;
    -webkit-box-shadow: none;
    
}
.submenu.dropdown-menu {
  border-top: 2px solid #8C2834;
  margin: 0;
}
.slider-details-circle {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 180px;
    color: #2f2b2b;
    font-family: "trump_soft_proregular",Arial,Helvetica,sans-serif;
    font-size: 24px;
    height: 170px;
    left: 50%;
    line-height: 27px;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 170px;
    z-index: 20;
}

.slider-details-circle .details-inner {
    left: 8px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.slider-details-circle .link, .slider-details-circle .view-offer {
    color: #2f2b2b;
    display: block;
}
.slider-details-circle .link {
    margin: 0 auto;
    max-width: 110px;
}
.slider-details-circle .view-offer {
    border-top: 1px solid #b3b2b1;
    cursor: pointer;
    margin: 8px 0 0;
    padding: 13px 0 0;
}
.view-offer .icon-arrow-down {
  display: block;
}
.beige-pink-section {
    background: #D6CCC3 none repeat scroll 0 0;
    padding: 0 3%;
    position: relative;
}
.rooms-list {
  background: #EDEBEA;
  padding: 70px 0;
}
.page-loader{
  display:block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #dadada;
  z-index: 100000;  
}
.spinner{
    display: inline-block;
    width: 8em;
    height: 8em;
    line-height: 8em;
    margin: 1.5em;
    margin: -4em 0 0 -4em;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #999;
    background: #f1f1f1;
    text-align: center;  
    font-weight: 400;
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.admin-bar .header-zone {
  top: 32px;
}
input.wpcf7-submit {
  background: #fff none repeat scroll 0 0;
    border: medium none;
    color: #2f2b2b;
    cursor: pointer;
    display: block;
    float: none;
    font-family: "trump_soft_proregular",Arial,Helvetica,sans-serif;
    font-size: 22px;
    line-height: 28px;
    margin: 0 0 10px;
    padding: 11px 5px;
    transition: all 277ms ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}
input.wpcf7-submit:hover {
    background: #580608 none repeat scroll 0 0;
    color: #fff;
}
.captha-holder {
    border: 1px solid #b3b2b1;
    clear: both;
    text-align: center;
}

.label {
    border-right: 1px solid #b3b2b1;
    color: #580608;
    display: block;
    float: left;
    font-family: "trump_soft_proregular",Arial,Helvetica,sans-serif;
    font-size: 22px;
    line-height: 24px;
    margin: 0;
    padding: 12px 15px;
    width: auto;
    border-radius: 0;
}

.captha-holder .captcha {
    margin: 10px auto 1px;
}
.captha-holder:after {
  clear: both;
  content: '';
  display: block;
}
#lang_sel {
  font-family: "trump_soft_proregular",Arial,Helvetica,sans-serif;
  color: #5d5a57;
  font-size: 24px;
    line-height: 50px;
}
#lang_sel li {
  float: none;
  width: auto;
}
#lang_sel ul ul {
  border-top: 1px solid #580608;
  top: 100%;
  z-index: 3223;
}
#lang_sel a {
  border: none;
  padding: 0 15px 0 10px;
  color: #5d5a57;
  font-size: 24px;
  line-height: 100px;
}
.bg-w {
  background: #fff;
}
.table-bordered {
  border-color: #a8a39d;
}
.table-prices.table-bordered > thead > tr > th{
  border-color: #a8a39d;
  background: #fff;
  border-bottom-width: 1px;
  font-size: 20px;
  font-weight: bold;
  color: #2f2b2b;
  text-align: center;
  padding: 10px;
}
.table-prices.table-bordered > thead > tr > th,
.table-prices.table-bordered > tbody > tr > th,
.table-prices.table-bordered > tfoot > tr > th,
.table-prices.table-bordered > thead > tr > td,
.table-prices.table-bordered > tbody > tr > td,
.table-prices.table-bordered > tfoot > tr > td {
    border-color: #a8a39d;
    background: #fff;
    text-align: center;
    color: #2f2b2b;
    padding: 10px;
}
.table-prices.table-bordered > thead > tr > td:first-child {
  text-align: left;
}
.rooms-list .room-glance {
    max-width: 420px;
}
.room-box {
    background: #fff none repeat scroll 0 0;
    margin: 54px 10px 0;
    padding: 0 38px 150px;
    position: relative;
}

.room-box .room-top-bg {
    background: #edebea none repeat scroll 0 0;
    left: 0;
    padding: 30% 0 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.room-box .room-number {
    color: #fff;
    display: block;
    font-family: "trump_soft_proregular",Arial,Helvetica,sans-serif;
    font-size: 50px;
    left: 0;
    line-height: 55px;
    position: absolute;
    text-align: center;
    text-decoration: underline;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 10;
}
.room-box .room-img {
    display: block;
    margin: 0 0 32px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 10;
    height: 190px;
    background: #8C2834;
}

.title.in-room-box {
    border-bottom: 1px solid #b3b2b1;
    color: #2f2b2b;
    margin: 0 0 16px;
    padding: 0 0 16px;
    text-align: inherit;
}
.style-bullets {
    text-align: left;
}

.style-bullets ul {
    margin-bottom: 28px;
}
.style-bullets ul li {
    background: url("images/li.png") no-repeat scroll 9px 6px ;    
    border-bottom: 1px solid #edebea;
    color: #a99269;
    font-family: "trump_soft_proregular",Arial,Helvetica,sans-serif;
    font-size: 20px;
    line-height: 22px;
    padding: 6px 39px;
    text-align: center;
    text-transform: uppercase;
    list-style: none;
}
.room-details-table {
    border: 1px solid #a8a39d;
    color: #2f2b2b;
    font-family: "trump_soft_proregular",Arial,Helvetica,sans-serif;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}
.room-details-table .table-cell.price {
    font-size: 32px;
    line-height: 32px;
    position: relative;
    padding: 20px 15px 13px;
}
.style-bullets p {
  margin-bottom: 20px;
}
.single-post-header {    
    margin: 40px 0 20px;
    padding: 100px 0 50px;
    text-align: center;
}
.p-n-articles {
    padding-top: 100px;
}
.p-article {
    text-align: right;
}
.pna-title {
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.p-n-articles a {
    color: #2f2b2b;
    display: block;
    font-family: "trump_soft_proregular",Arial,Helvetica,sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    line-height: 34px;
    margin: 0 0 15px;
}
.n-article {
    text-align: left;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;  
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url('images/fancybox_sprite.png');
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url('images/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url('images/blank.gif'); /* helps IE */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url('images/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent; /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
     only screen and (min--moz-device-pixel-ratio: 1.5),
     only screen and (min-device-pixel-ratio: 1.5){

  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('images/fancybox_sprite@2x.png');
    background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
  }

  #fancybox-loading div {
    background-image: url('images/fancybox_loading@2x.gif');
    background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
  }
}

.post-password-form {
  background: #fff;
  border-bottom: 5px solid #580608;
  padding: 30px 20px 38px;
  position: relative;
  top: -50px;
  z-index: 20;
  width: 300px;
  margin: 0 auto;
}
.post-password-form input[type="submit"] {
  background: #fff none repeat scroll 0 0;
  border: medium none;
  color: #2f2b2b;
  cursor: pointer;
  display: block;
  float: none;
  font-family: "trump_soft_proregular",Arial,Helvetica,sans-serif;
  font-size: 22px;
  line-height: 28px;
  margin: 0 0 10px;
  padding: 11px 5px;
  transition: all 277ms ease-in-out 0s;
  vertical-align: middle;
  width: 100%;
}
.post-password-form label {
  color: #2f2b2b;
  font-family: "trump_soft_proregular",Arial,Helvetica,sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 27px;
  margin: 0 0 14px;
}
.post-password-form input[type="submit"]:hover {
  background: #580608 none repeat scroll 0 0;
  color: #fff;
}
.post-password-form input[type="password"] {
  background: transparent none repeat scroll 0 0;
    border: 1px solid #b3b2b1;
    border-radius: 0;
    color: #000;
    display: block;
    float: none;
    font-family: "trump_soft_proregular",Arial,Helvetica,sans-serif;
    font-size: 22px;
    height: 50px;
    line-height: 24px;
    margin: 0 0 8px;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.outside {
  position: relative;
}

.img-404 {
    display: block;
    margin: 0 auto 30px;
    max-width: 90%;
}
div div.wpcf7-validation-errors {
  border: none;
  color: #fff;
  text-align: center;
  background: #580608;
}
div div.wpcf7-mail-sent-ok {
  border: none;
  background: #fff;
  text-align: center;
}
div div.wpcf7-response-output {
  margin: 0 0 10px;
}
.hidden {
  display: none;
}
.partners-list {
  margin-bottom: 50px;
}
.partner-item {
  float: left;
  box-sizing: border-box;
  width: 50%;
  margin-bottom: 25px;
}
.partner-link {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;  
  align-items: center;  
  justify-content: center;
  text-align: center;
  width: 95%;
  padding-top: 35%;
  background-size: 100% auto;
  background-repeat: no-repeat;

}
.partner-link:hover:before {
  background: rgba(0,0,0,.4);
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.partner-link:before {
  display: block;
  content: "";
  position: absolute;
  background: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.partner-link:hover .partner-name{
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.partner-name {
  display: block;
  opacity: 0;
  position: absolute;
  top: 48%;
  left: 50%;
  width: 160px;
  margin-left: -80px;
  background: #8C2834;
  color: #fff;
  padding: 3px 8px;
}

body div.asl_m {
  z-index: 2 !important;
}