@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab&subset=latin,vietnamese);
.main-title,
.title,
.text-rep-title,
.home-hero-text {
	font-family: serif;
}
.post-nav .next-link,
.post-nav .prev-link,
.page-nav .next-link,
.page-nav .prev-link,
.ul-primary-nav > li > a,
.follow,
#lang_sel, 
.share-link .share-title,
input.input, textarea.textarea,
input.wpcf7-submit {
	font-family: 'Roboto Condensed', sans-serif;
}
.follow,
.ul-primary-nav > li > a,
#lang_sel,
#lang_sel a,
.post-nav .next-link,
.post-nav .prev-link,
.page-nav .next-link,
.page-nav .prev-link {
	font-size: 16px;
}
.main-title {
	font-size: 40px;
}
.post-nav .next-link .icomoon, .page-nav .next-link .icomoon {
	left: 90px;
}
.post-nav .prev-link .icomoon, .page-nav .prev-link .icomoon {
	right: 100px;
}